# Puerto público en el que se expondrá el frontend
FRONTEND_PORT=80

# URL del backend para proxy inverso de Nginx (/api y /uploads)
# Si el backend corre en Docker en la misma red: http://backend:4000
# Si el backend corre localmente en tu host fuera de Docker: http://host.docker.internal:4000
# Si el backend está en un servidor remoto: https://api.tudominio.com
BACKEND_URL=http://backend:4000


# ============================================
# Servicio
# ============================================
SERVICE_NAME=mibebeapp-frontend
CONTAINER_NAME=mibebeapp-frontend-container
TAG=latest

# ============================================
# Puertos
# ============================================
HOST_PORT=3011
SERVER_PORT=80

#=============================================
#env
#=============================================
